{ 
    "BasedOnStyle": "LLVM", 
    "AllowShortIfStatementsOnASingleLine": "true",
    "AlignAfterOpenBracket": "AlwaysBreak",
    "AllowShortLoopsOnASingleLine": "true",
    "AllowShortFunctionsOnASingleLine": "false",
    "AlignConsecutiveAssignments": "Consecutive",
    "BinPackParameters": "false"
}
